<div class="custom">
  <br/> <br/>
  <h2>
  <img src="assets/ganesh.png" class="ganesh">
     Welcome to my wedding..!!!
  <img src="assets/ganesh.png" class="ganesh">
  </h2>
  <i>Your presence on our wedding day will make it even more special and memorable for us.</i> <br/><br/><br/>
  <button class="custom-button" (click)="navigateMarriageLocation()">
    Marraige Location
  </button>  <br/> <br/>
  <i>on September 3rd 2023 @11:15AM </i> <br/> <br/> <br/>
  <button class="custom-button" (click)="navigateReceptionLocation()">
    Reception Location
  </button>  <br/> <br/>
  <i>on September 4th 2023 from 6PM </i>
  <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> 
  
</div>
<div style="text-align: center;">
  <img src="assets/Marriage.jpg" style="margin-top: -172px; width: 300px;"> <br/> <br/> <br/> <br/> <br/>
  <img src="assets/Reception.jpeg" style="width: 300px;"> <br/> <br/> <br/> <br/> <br/> 
</div>