body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Common CSS */
.h2p-center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/* Existing CSS */
.content {
  padding: 20px;
}

.header {
  padding: 15px 0px;
  background: #edf2f4;
  border-bottom: 1px solid #999;
}
.header a {
  color: #0692cd;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 5px;
  padding: 10px;
}
.header a:hover:not(.active) {
  color: #0455a3;
}
.header small {
  color: #666;
}
.header .active {
  color: #fff;
  background-color:#0455a3;
}




.ganesh-logo {
  height: 20vmin;
  pointer-events: none;
}

.marriage-logo {
  height: 80vmin;
  pointer-events: none;
}

.reception-logo {
  height: 80vmin;
  pointer-events: none;
}